<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="left-site col-md-3 m-0 p-0">
            <div class="logo">LOGO</div>
            <mat-nav-list>
                <a mat-list-item routerLink="/">
                    <mat-icon class="color-white">dashboard</mat-icon>&nbsp;<span class="nav-caption color-white">Dashboard</span>
                </a>
                <a mat-list-item routerLink="/trenings">
                    <mat-icon class="color-white">accessibility_new</mat-icon>&nbsp;<span class="nav-caption color-white">Treningi</span>
                </a>

                <a mat-list-item routerLink="/meals">
                    <mat-icon class="color-white">restaurant</mat-icon>&nbsp;<span class="nav-caption color-white">Dieta</span>
                </a>

                <a mat-list-item routerLink="#">
                    <mat-icon class="color-white">account_circle</mat-icon>&nbsp;<span class="nav-caption color-white">Profil</span>
                </a>

                <a mat-list-item routerLink="/products">
                    <mat-icon class="color-white">list</mat-icon>&nbsp;<span class="nav-caption color-white">Produkty</span>
                </a>

                <a mat-list-item (click)="logout()">
                    <mat-icon class="color-white">power_settings_new</mat-icon>&nbsp;<span class="nav-caption color-white">Wyloguj</span>
                </a>

            </mat-nav-list>
            <div class="copyright">Copyright &copy; by Patryk Powalski</div>
        </div>

        <div class="right-site col-md-9">
            <div class="container">
                <div class="navigation">
                    <mat-icon style="font-size: 14px;">home</mat-icon> <div style="font-size: 11px;" class="nav-caption">Fit > Dashboard</div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="dashboard-block">
                            <div class="dashboard-block-content">
                                <div class="result">20</div>
                                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                <div class="title">Wskaznik masy ciałą</div>
                            </div>
                        </div>

                        <div class="dashboard-block">
                            <div class="dashboard-block-content">
                                <div class="result">2000</div>
                                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                                <div class="title">Zapotrzebowanie kaloryczne </div>
                            </div>
                        </div>

                        <div class="dashboard-block">
                            <div class="dashboard-block-content">
                                <div class="result">1700</div>
                                <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                                <div class="title">Podstawowa przemiana materii</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12">
                        <div class="dashboard-block">
                            <div class="dashboard-box">
                                <div class="dashboard-box-title">Posiłki na dziś</div>

                                <div class="dashboard-box-content">
                                    <fieldset class="fieldset">
                                        <legend class="legend">7:00</legend>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img style="width: 100%;" src="https://www.winiary.pl/image.ashx/ryz-z-kurczakiem-curry.jpg?fileID=229306&width=800&height=800&frame=True&quality=84&bg=0">
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Ryż z kurczakiem</h4>
                                                <div class="mid-title">Wartość energetyczna: 500 kcal</div>

                                                <div class="mid-title">Białko: 40 g</div>

                                                <div class="mid-title">Sól: 40 g</div>

                                                <div class="mid-title">Węglowodany: 20 g</div>
                                                <div class="min-title">w tym cukry: 10 g</div>

                                                <div class="mid-title">Tłuszcze: 20 g</div>
                                                <div class="min-title">w tym kwasy tłuszczowe nasycone: 10 g</div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <button type="button" class="button-center" mat-stroked-button color="primary">Pokaż pełną listę</button>
                                </div>
                            </div>
                        </div>

                        <div class="dashboard-block">
                            <div class="dashboard-box-title">Trening na dziś</div>

                            <div class="dashboard-box-content">
                                <fieldset class="fieldset">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img style="width: 100%;" src="https://i.ytimg.com/vi/MtjiVhQKOQk/maxresdefault.jpg">
                                        </div>
                                        <div class="col-md-8">
                                            <h4>Wyciskanie na ławce</h4>
                                            <div class="mid-title">Ilość seri: 3</div>

                                            <div class="mid-title">Ilość powtórzeń: 10/10/9</div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="clear"></div>-->
    </div>
</div>