<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="left-site col-md-3 m-0 p-0">
            <div class="logo">LOGO</div>
            <mat-nav-list>
                <a mat-list-item routerLink="/">
                    <mat-icon class="color-white">dashboard</mat-icon>&nbsp;<span class="nav-caption color-white">Dashboard</span>
                </a>
                <a mat-list-item routerLink="/trenings">
                    <mat-icon class="color-white">accessibility_new</mat-icon>&nbsp;<span class="nav-caption color-white">Treningi</span>
                </a>

                <a mat-list-item routerLink="/meals">
                    <mat-icon class="color-white">restaurant</mat-icon>&nbsp;<span class="nav-caption color-white">Dieta</span>
                </a>

                <a mat-list-item routerLink="#">
                    <mat-icon class="color-white">account_circle</mat-icon>&nbsp;<span class="nav-caption color-white">Profil</span>
                </a>

                <a mat-list-item routerLink="/products">
                    <mat-icon class="color-white">list</mat-icon>&nbsp;<span class="nav-caption color-white">Produkty</span>
                </a>

                <a mat-list-item (click)="logout()">
                    <mat-icon class="color-white">power_settings_new</mat-icon>&nbsp;<span class="nav-caption color-white">Wyloguj</span>
                </a>

            </mat-nav-list>
            <div class="copyright">Copyright &copy; by Patryk Powalski</div>
        </div>

        <div class="right-site col-md-9">
            <div class="container">
                <div class="navigation">
                    <mat-icon style="font-size: 14px;">home</mat-icon> <div style="font-size: 11px;" class="nav-caption">Fit > Produkty</div>
                </div>

                <div class="row">
                        <div class="col-md-8">
                            <h3>Lista produktów</h3>
                        </div>

                        <div class="col-md-4">
                            <button mat-stroked-button class="float-right">Dodaj produkt</button>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-12 dashboard-block">
                        <table mat-table [dataSource]="dataSource" class="w-100">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                                <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="kcal">
                                <th mat-header-cell *matHeaderCellDef> Ilość kalori </th>
                                <td mat-cell *matCellDef="let product"> {{product.kcal}} kcal</td>
                            </ng-container>

                            <ng-container matColumnDef="carbohydrates">
                                <th mat-header-cell *matHeaderCellDef> Węglowodany </th>
                                <td mat-cell *matCellDef="let product"> {{product.carbohydrates}} g</td>
                            </ng-container>

                            <ng-container matColumnDef="fat">
                                <th mat-header-cell *matHeaderCellDef> Tłuszcze </th>
                                <td mat-cell *matCellDef="let product"> {{product.fat}} g</td>
                            </ng-container>

                            <ng-container matColumnDef="protein">
                                <th mat-header-cell *matHeaderCellDef> Białko </th>
                                <td mat-cell *matCellDef="let product"> {{product.protein}} g</td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Akcje </th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-button matTooltip="Edytuj"><mat-icon class="text-warning">edit</mat-icon></button>
                                    <button mat-button mat-button matTooltip="Usuń"><mat-icon class="text-danger">delete_forever</mat-icon></button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="clear"></div>-->
    </div>
</div>