.left-site {
    height: 100%;
    background-color: #0b269a;
    z-index: 1000;
}

.right-site {
    min-height: 100%;
}

.clear {
    clear: both;
}

.content {
    width: 100%;
    padding: 20px;
}

.color-white {
    color: #FFFFFF;
}

.navigation {
    margin-top: 10px;
    display: flex;
}

.copyright {
    color: #FFF;
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

.dashboard-block {
    box-shadow: 1px 1px 7px 0px black;
    margin-top: 20px;
}

.dashboard-box-title {
    background-color: #0b269a;
    color: #FFF;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

.dashboard-box-content {
    padding: 10px;
}

.dashboard-block-content {
    padding: 20px;
}

.dashboard-block-content > .title {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.dashboard-block-content > mat-progress-bar {
    height: 25px;
}

.dashboard-block-content > .result {
    text-align: center;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
}

.logo {
    font-size: 32px;
    text-align: center;
    color: #FFF;
    margin-top: 10px;
    margin-bottom: 5px;
}

.min-title {
    font-size: 11px;
}

.mid-title {
    font-size: 14px;
}

.fieldset-old {
    opacity: 0.3;
}

.fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding: 5px;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: dashed;
    border-color: threedface;
    border-image: initial;
    border-color: #0b269a;
    margin-bottom: 10px;
}

.legend {
    padding: 0;
    margin-bottom: -9px;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #0b269a;
}

.button-center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

th {
    text-align: center !important;
    font-weight: bold;
}

td {
    text-align: center;
}