<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="left-site col-md-3 m-0 p-0">
            <div class="logo">LOGO</div>
            <mat-nav-list>
                <a mat-list-item routerLink="/">
                    <mat-icon class="color-white">dashboard</mat-icon>&nbsp;<span class="nav-caption color-white">Dashboard</span>
                </a>
                <a mat-list-item routerLink="/trenings">
                    <mat-icon class="color-white">accessibility_new</mat-icon>&nbsp;<span class="nav-caption color-white">Treningi</span>
                </a>

                <a mat-list-item routerLink="/meals">
                    <mat-icon class="color-white">restaurant</mat-icon>&nbsp;<span class="nav-caption color-white">Dieta</span>
                </a>

                <a mat-list-item routerLink="#">
                    <mat-icon class="color-white">account_circle</mat-icon>&nbsp;<span class="nav-caption color-white">Profil</span>
                </a>

                <a mat-list-item (click)="logout()">
                    <mat-icon class="color-white">power_settings_new</mat-icon>&nbsp;<span class="nav-caption color-white">Wyloguj</span>
                </a>
            </mat-nav-list>
            <div class="copyright">Copyright &copy; by Patryk Powalski</div>
        </div>

        <div class="right-site col-md-9">
            <div class="container">
                <div class="navigation">
                    <mat-icon style="font-size: 14px;">home</mat-icon> <div style="font-size: 11px;" class="nav-caption">Fit > Treningi</div>
                </div>

                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>