<div class="container auth-background">
    <div class="login-form col-md-5">
        <h1 class="center">Logowanie</h1>
        <div class="content">
            <mat-form-field>
                <input matInput [(ngModel)]="username" placeholder="Nazwa użytkownika" minlength="1">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="password" placeholder="Hasło" type="password">
            </mat-form-field>

            <button type="button" mat-flat-button color="primary" (click)="formSubmit();" *ngIf="show">Zaloguj</button>
            <div style="margin-left: auto; margin-right: auto;" *ngIf="loading">
                <mat-spinner diameter="30" mode="indeterminate"></mat-spinner>
            </div>

            <div class="error-box" *ngIf="error.length > 0">
                <mat-label style="font-size: 12px;">{{error}}</mat-label>
            </div>
        </div>
        <div class="login-other-options">
            <button mat-button color="primary" routerLink="/forgot-password">Zapomniałes hasła?</button>
            <button mat-button color="primary" style="margin-top: 5px" routerLink="/register">Utwórz konto</button>
        </div>
    </div>
</div>
