.login-form {
    /*background-color: rgba(19, 19, 19, 0.5);*/
    background-color: rgba(255, 255, 255, 0.65);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 3px 6px 15px black;
}

.error-box {
    margin-top: 10px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}

.login-other-options {
    border-top: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.center {
    text-align: center;
    margin-top: 10px;
    font-family: 'Alata', sans-serif;
}
